ul {
    margin: 0;
    padding: 0;
    border: color 0;
}


.flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    color: white;
    background-color: darkblue;
    list-style: none;
    line-height: 50px;
    font-size: 16px;
}

ul li {
    display: inline-flex;
    margin-left: 0px;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-end: 5px;
    padding-inline-start: 0px
}

a.link1:hover {
    color: lightblue;
    font-style: bold;
    font-weight: 600;
}

a.link2:active:hover {
    color: red;
    font-style: italic;
}

a.currentPage:visited:hover {
    color: yellow;
    font-style: bold;
    font-weight: 600;
}

.currentPage:hover {
    background-color: darkslategray;
}

a.link1:hover, a.link2:hover, section.a.link1:hover, section.a.link2:hover {
    background-color: rgb(203, 233, 243);
}

input:focus {
    color: rgb(21, 173, 21);
    font-size: 20px;
    border: radius 6px;
    border: 10px solid aqua;
    height: 25px;
    padding: 3px
}
section.a.link1, section.a.link2, section.a.currentPage, section.input:visited {
    color: redorange;
    font-weight: 400;
}

body {
    background-color: rgb(71, 55, 177);
    font-size: 18px;
    font-weight: 300;
    font-family: "Prompt";
}